<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <style>
        .button-container {
            text-align: center;
            margin-top: 50px;
        }

        .button-container button {
            background-color: #4CAF50;
            border: none;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            font-size: 20px;
            margin: 10px;
            padding: 10px;
            width: 150px;
        }

        .button-container button:hover {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
<header>
    <h1>Music Information</h1>
    <div class="button-container">
        {% if 'user_id' in session %}
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit">Déconnexion</button>
            </form>
        {% else %}
            <button onclick="window.location.href='{{ url_for('login') }}'">Connexion</button>
            <button onclick="window.location.href='{{ url_for('register') }}'">Inscription</button>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</header>
<main>
    <!-- index.html -->
    <form action="/" method="post" class="search-form">
        <div class="form-group">
            <label for="query_type">Type de requête:</label>
            <select name="query_type" id="query_type" onchange="showFieldsForQueryType()">
                <option value="" selected disabled hidden>Choisir un paramètre...</option>
                <optgroup label="Informations générales">
                    <option value="tag">Tag</option>
                    <option value="global_trends">Tendances Globales</option>
                    <option value="country_trends">Tendances par Pays</option>
                </optgroup>
                <optgroup label="Artistes et Albums">
                    <option value="album">Album</option>
                    <option value="artist">Artiste</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group" id="artist_field" style="display: none;">
            <label for="artist">Artiste:</label>
            <input type="text" name="artist" id="artist"> <!-- Utilisation de "artist" comme name -->
        </div>
        <div class="form-group" id="album_field" style="display: none;">
            <label for="album">Album:</label>
            <input type="text" name="query_param" id="album">
        </div>
        <div class="form-group" id="country_field" style="display: none;">
            <label for="country">Pays:</label>
            <input type="text" name="country" id="country">
        </div>
        <div class="form-group" id="tag_field" style="display: none;">
            <label for="tag">Tag:</label>
            <input type="text" name="tag" id="tag">
        </div>
        <div class="form-group" id="playcount_field" style="display: none;">
            <label for="playcount">Nombre d'écoutes :</label>
            <input type="number" name="playcount" id="playcount">
            <input type="radio" id="greater_than" name="operator" value="gt">
            <label for="greater_than">Supérieur à</label>
            <input type="radio" id="less_than" name="operator" value="lt">
            <label for="less_than">Inférieur à</label>
        </div>
        <!-- Autres champs de formulaire pour d'autres types de requête -->
        <button type="submit" class="search-button">Rechercher</button>
    </form>
</main>
<footer>
    <p>&copy; 2024 Music Information. Tous droits réservés.</p>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Effacer les valeurs par défaut des zones de texte
        document.getElementById('artist').value = '';
        document.getElementById('album').value = '';
        document.getElementById('country').value = '';
        document.getElementById('tag').value = '';
        document.getElementById('playcount').value = '';
    });

    function showFieldsForQueryType() {
        const queryTypeSelect = document.getElementById('query_type');
        const artistField = document.getElementById('artist_field');
        const albumField = document.getElementById('album_field');
        const countryField = document.getElementById('country_field');
        const tagField = document.getElementById('tag_field');
        const playcountField = document.getElementById('playcount_field');

        const selectedQueryType = queryTypeSelect.value;

        // Masquer tous les champs d'abord
        artistField.style.display = 'none';
        albumField.style.display = 'none';
        countryField.style.display = 'none';
        tagField.style.display = 'none';
        playcountField.style.display = 'none';

        // Afficher les champs en fonction du type de requête sélectionné
        if (selectedQueryType === 'album') {
            artistField.style.display = 'block';
            albumField.style.display = 'block';
        } else if (selectedQueryType === 'artist') {
            artistField.style.display = 'block';
        } else if (selectedQueryType === 'country_trends') {
            countryField.style.display = 'block';
        } else if (selectedQueryType === 'tag') {
            tagField.style.display = 'block';
        } else if (selectedQueryType === 'playcount_search') {
            playcountField.style.display = 'block';
        }
    }

</script>
</body>
</html>
