/* artist_result.css */

/* Styles généraux pour la page */

header {
    background-color: #ff4081;
    color: #fff;
    padding: 20px;
    text-align: center; /* Pour centrer le texte */
}

h1 {
    font-size: 2.5em; /* Taille de la police */
    margin: 0; /* Supprimer les marges par défaut */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.album-artist {
    display: flex; /* Utiliser un modèle de boîte flexible */
    align-items: center; /* Aligner verticalement le contenu au centre */
    border: 1px solid #ccc; /* Ajouter une bordure à chaque album */
    border-radius: 8px; /* Ajouter un arrondi aux coins */
    margin-bottom: 10px; /* Ajouter un espacement entre chaque album */
    padding: 10px; /* Ajouter un remplissage à chaque album */
}

.album-artist img {
    margin-left: auto; /* Placer l'image à droite de la case */
    max-width: 100px; /* Limiter la largeur maximale de l'image */
    border-radius: 4px; /* Ajouter un arrondi aux coins de l'image */
}


header, footer {
    background-color: #ff4081;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.artist-container {
    max-width: 1200px;
    margin: 20px auto;
}

.artist-content {
    display: flex;
    justify-content: space-between;
}

.top-tracks, .albums {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.similar-artists {
    flex: 0 0 auto; /* Ne pas étirer et conserver la largeur auto */
    width: 250px; /* Largeur fixe */
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
